*{
  border-sizing:border-box;
  font-size:0;
}
#overlayBg{

}

body{
background:#9C7A97;
}

#clock{
font-size: 100px;
text-align:center;

}

#clock:hover{

}

#hexTime{
opacity:.0;
font-size: 100px;
text-align:center;
}

#hexTime:hover{
opacity:1;
}